body {
  text-align: center;
  background-color: #05284f;
}

#level-title {
  font-family: 'Andy';
  font-size: 4rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(238, 7, 7);
}

.green {
  background-color: rgb(21, 178, 21);
}

.blue {
  background-color: rgb(9, 234, 242);
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
